<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.arora.arora">

    <application
        android:name="com.arora.arora.Audio.AudioApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="com.arora.arora.SearchActivity" />
        <activity android:name="com.arora.arora.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.arora.arora.Main2Activity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme" />

        <activity android:name="com.arora.arora.MusicViewActivity" />

        <service
            android:name="com.arora.arora.Audio.AudioService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="REWIND" />
                <action android:name="TOGGLE_PLAY" />
                <action android:name="FORWARD" />
                <action android:name="CLOSE" />
            </intent-filter>
        </service>
        <meta-data
            android:name="com.kakao.sdk.Appkey"
            android:value="@string/kakao_app_key"
            >

        </meta-data>
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

    </application>
    <uses-permission android:name="android.Manifest.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.INTERNET" />

</manifest>